version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "covenants-update-stats"
s3_bucket = "XXXX"
s3_prefix = "covenants-update-stats"
region = "XXXX"
capabilities = "CAPABILITY_IAM"
image_repositories = []
